body{
	
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	font-weight: 300;
	width: 100%
}
.img-responsive{
	margin: 0 auto
}
.text-muted{
	color: #7d97ad;
}
.text-thin{
	font-weight: 100;
}
.title-logo{
	margin-top: 20px;
}
.text-super{
	font-size: 45px;
	max-width: 100%;
}
.divider-width{
	border-style: solid;
    border-width: 2px;
    border-color: #7d97ad;
}